@using cFront.Umbraco.Membership
@{
    //IEnumerable<IDictionary<string, object>> members = MemberHelper.GetAllMembers();
    IMemberDal memberDal = new MemberDal(new DataConnection());
    IEnumerable<MemberSummaryDto> memberSummaries = memberDal.GetMemberSummaries();
}  
@foreach (var member in memberSummaries)
{
    <div class="row service-wrapper-row">
        <div class="col-sm-2">
            <div class="service-image">
                <!--<img src="umbraco/ImageGen.ashx?image=/media/30742/MidSussexGoTri_July13_303.jpg&width=200&Compression=99&AntiAlias=true" /> -->
                @{ dynamic personImage = member.ProfileImageId.HasValue ? Library.MediaById(member.ProfileImageId) : null; }
                <img class="member-directory-image" src="@(personImage != null ? personImage.Url : "/images/mstc/headshot-placeholder.jpg")" alt="@member.Name" />
            </div>
        </div>
        <div class="col-sm-10">
            <h3>@member.Name</h3>
            <p>Email: <a href="mailto:@member.Email">@member.Email</a> | Phone: @member.Phone</p>

        </div>
    </div>
}