@using cFront.Umbraco.Membership
@using Mstc.Core.DataAccess
@using Mstc.Core.Domain
@using Mstc.Core.Dto
@{
    IMemberDal memberDal = new MemberDal(new DataConnection());
    IEnumerable<MemberSummaryDto> memberSummaries = memberDal.GetMemberSummaries()
        .Where(m => m.MembershipType != MembershipType.Guest && string.IsNullOrWhiteSpace(m.Name) == false).OrderBy(m => m.Name);
}  
@foreach (var member in memberSummaries)
{
    <div class="row service-wrapper-row">
        <div class="col-sm-2">
            <div class="service-image">
            @{ dynamic personImage = member.ProfileImageId.HasValue ? Library.MediaById(member.ProfileImageId) : null; }
            @if (personImage != null)
            {
                <a href="@personImage.Url" target="_blank">
                <img class="member-directory-image" alt="@member.Name"
                     src="@personImage.Url" />
                </a>
            }
            else
            {
                <img class="member-directory-image" src="/images/mstc/headshot-placeholder.jpg" alt="@member.Name" />
            }
            </div>
        </div>
        <div class="col-sm-10">
            <h3>@member.Name</h3>
        </div>
    </div>
}