@using cFront.Umbraco.Membership
@{
    IEnumerable<IDictionary<string, object>> members = MemberHelper.GetAllMembers();
}  
@foreach (IDictionary<string, object> member in members)
{
    <div class="row service-wrapper-row">
        <div class="col-sm-2">
            <div class="service-image">
               @{ dynamic personImage = member["profileImage"] is int ? Library.MediaById(member["profileImage"]) : null; }
                <img class="member-directory-image" src="@(personImage != null ? personImage.Url : "/images/mstc/headshot-placeholder.jpg")" alt="@member["Name"]">
            </div>
        </div>
        <div class="col-sm-10">
            <h3>@member["Name"]</h3>
            <p>Email: <a href="mailto:@member["Email"]">@member["Email"]</a> | Phone: @member["phoneMobile"]</p>

        </div>
    </div>
}




