@using cFront.Umbraco.Membership
@{
    //IEnumerable<IDictionary<string, object>> members = MemberHelper.GetAllMembers();
    IMemberDal memberDal = new MemberDal(new DataConnection());
    IEnumerable<MemberSummaryDto> memberSummaries = memberDal.GetMemberSummaries().OrderBy(m => m.Name);
}  
@foreach (var member in memberSummaries)
{
    <div class="row service-wrapper-row">
        <div class="col-sm-2">
            <div class="service-image">
            @{ dynamic personImage = member.ProfileImageId.HasValue ? Library.MediaById(member.ProfileImageId) : null; }
            @if (personImage != null)
            {
                <a href="@personImage.Url" target="_blank">
                <img class="member-directory-image" alt="@member.Name"
                     src="@personImage.Url" />
                </a>
            }
            else
            {
                <img class="member-directory-image" src="/images/mstc/headshot-placeholder.jpg" alt="@member.Name" />
            }
            </div>
        </div>
        <div class="col-sm-10">
            <h3>@member.Name</h3>
            <p>Email: <a href="mailto:@member.Email">@member.Email</a> | Phone: @member.Phone</p>

        </div>
    </div>
}