@using cFront.Umbraco.Membership
@using Mstc.Core.DataAccess
@using Mstc.Core.Dto
@{
    IMemberDal memberDal = new MemberDal(new DataConnection());
    IEnumerable<MemberOptionsDto> memberOptions = memberDal.GetMemberOptions().OrderBy(m => m.Name);
}  

<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Membership Type</th>
        <th>Membership Expiry Date</th>
        <th>England Athletics Membership</th>
        <th>Paid Swim Subs Apr to Sept</th>
        <th>Paid Swim Subs Oct to Mar</th>
        <th>Entered duathlon</th>
        <th>Tri Festival Entry</th>
        <th>Charity Swim Entry</th>
        <th>Accepted indemnity?</th>
        <th>Open water auth number</th>
    </tr>

    @foreach (var member in memberOptions)
    {
        <tr>
            <td>@member.Name</td>
            <td>@member.Email</td>
            <td>@member.MembershipType</td>
            <td>@(member.MembershipExpiry.HasValue ? member.MembershipExpiry.Value.ToShortDateString() : "")</td>
            <td>@displayBool(member.EnglandAthleticsMembership)</td>
            <td>@displayBool(member.SwimSubsAprToSept)</td>
            <td>@displayBool(member.SwimSubsOctToMar)</td>
            <td>@displayBool(member.DuathlonEntered)</td>
            <td>@member.TriFestEntry</td>
            <td>@member.CharitySwimEntry</td>

            <td>@displayBool(member.OpenWaterIndemnityAcceptance)</td>
            <td>@(member.SwimAuthNumber.HasValue ? member.SwimAuthNumber.Value.ToString("D3") : "-")</td>
    
        </tr>
    }

</table>

@helper displayBool(bool value)
{
    @(value == true ? "Yes" : "No")
}