@using Mstc.Core.DataAccess
@using Mstc.Core.Dto
@{
    IMemberDal memberDal = new MemberDal(new DataConnection());
    IEnumerable<MemberOptionsDto> memberOptions = memberDal.GetMemberOptions().OrderBy(m => m.SwimAuthNumber);
}

<table class="table table-striped table-bordered">
    <tr>
        <th>Swim Auth Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Swim Credits Remaining last year</th>
        <th>Swim Credits Bought</th>
        <th>Swim Credits Used</th>
        <th>Swim Credits Remaining</th>
        <th>Remove swim credit</th>
    </tr>

    @foreach (var member in memberOptions)
    {
        <tr>
            <td>@member.SwimAuthNumber</td>
            <td>@member.Name</td>
            <td>@member.Email</td>
            <td>@member.SwimCreditsRemainingLastYear</td>
            <td>@member.SwimCreditsBought</td>
            <td>@member.SwimCreditsUsed</td>
            <td>@(member.SwimCreditsRemainingLastYear + member.SwimCreditsBought - member.SwimCreditsUsed)</td>
            <td><input type="checkbox" name="RemoveCredit" class="remove-swim-credit" value="@member.NodeId"/></td>
        </tr>
    }

</table>