@using umbraco.NodeFactory
@inherits umbraco.MacroEngines.DynamicNodeContext
   
@{
    var homepage = @Model.AncestorOrSelf(1);
    var triathlonPageNode = homepage.triathlonPage is int ? new Node(homepage.triathlonPage) : null;
    var juniorsPageNode = homepage.juniorsPage is int ? new Node(homepage.juniorsPage) : null;

    bool isMainSite = triathlonPageNode == null || juniorsPageNode == null ?
                          true :
                          Model.Url.Contains(triathlonPageNode.UrlName) == false && Model.Url.Contains(juniorsPageNode.UrlName) == false;
}

<div class="mainmenu-header">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <li class="@(isMainSite ? "active" : "")"><a href="@homepage.Url">Club Site</a> | </li>
                @if (triathlonPageNode != null)
                {
                   <li class="@(Model.Url.Contains(triathlonPageNode.UrlName) ? "active" : "")"><a href="@triathlonPageNode.Url">The Mid Sussex Triathlon</a> | </li>
                }
                @if (juniorsPageNode != null)
                {
                    <li class="@(Model.Url.Contains(juniorsPageNode.UrlName) ? "active" : "")"><a href="@juniorsPageNode.Url">Juniors Tri Hub</a></li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>