<div class="blog-post blog-single-post">
    <div class="single-post-title">
        <h3>@Model.Name</h3>
    </div>
    <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>@Model.PostDate.ToString("dd MMM yyyy"), @Model.author
    </div>
    @if (Model.mainPhoto is int)
    {
        <div class="single-post-image"><img src="@Library.MediaById(Model.mainPhoto).Url" alt="@Model.Name" /></div>
    }
    <div class="single-post-content">
        <div class="entry-content">
            @Model.BodyText
        </div>
    </div>
</div>
